<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/main-back.css">
    <link rel="stylesheet" href="css/coded-part.css">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

  </head>
  <body>
    <!-- <nav>
      <a href="./testing2.html">Home</a>
    </nav> -->

    <!-- <img class="background" src="unnamed.png"> -->
    <div class="outer-part">
      <div class="container">

        <div class="background">
          <img class="testing" src="assets/unnamed (1).png">
        </div>

        <div class="title">
          zoey's resto recommender
        </div>

        <div class="extra-border"></div>

        <div class="button-row">
          <form action="HTML Pages/generate-recs.html">          
            <button type="submit" class="gr-button">
              generate recs
            </button>
          </form>
          <form action="HTML Pages/add-more.html">          
            <button class="am-button">
              add new places
            </button>
          </form>
          <form action="HTML Pages/about.html">          
            <button class="about-button">
              about
            </button>
          </form>
        </div>

      </div>
    </div>
  </body>
</html>
